<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Ratobot | API</title>
        <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/958952387660378162/967618640847454208/discord-avatar-512-YKMOM.png">
    </head>
    <body class="bg-gradient-to-r from-slate-800 to-slate-700">
        <div class="container-lg">
            <div class="text-center">
                <img src="https://cdn.discordapp.com/attachments/958952387660378162/967618640847454208/discord-avatar-512-YKMOM.png" alt="" class="mx-auto rounded-full mt-[25vh] mb-2 delay-150 shadow-sm hover:shadow-lg hover:cursor-pointer transition ease-in-out" width="90">
                <p class="text-md text-center text-white font-semibold w-50 h-100">Rato is a lightweight multi-functional Discord Bot that has a api!</p>
                <button class="mt-2 bg-sky-500 px-8 py-2 rounded text-white inner-shadow shadow-sm hover:shadow-lg transition ease-in-out">View Routes</button>
                <button class="mt-2 bg-gradient-to-r from-indigo-400 to-indigo-500 transition ease-in-out delay-75 px-8 py-2 rounded text-white inner-shadow shadow-sm hover:shadow-lg">Support Server</button>
                <button class="mt-2 bg-indigo-500 px-8 py-2 rounded text-white inner-shadow shadow-sm hover:shadow-lg transition ease-in-out">Main Website</button>
            </div>
        </div>
    </body>
</html>