<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <title>Ratobot | USER Routes</title>
        <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/958952387660378162/967618640847454208/discord-avatar-512-YKMOM.png">
    </head>
    <body class="bg-gradient-to-r from-slate-800 to-slate-700">
        <div class="container-lg">
            <div class="text-center">
                <% if ( user ) { %>
                    <p><%= user %></p>
                <% } %>
            </div>
        </div>
    </body>
</html>