<nav
  class="navbar navbar-dark navbar-expand-md rounded mx-auto slide-up-fade-in bg-[#232633] w-[90%] mt-[1vh]"
  id="navbar"
>
  <div class="container-fluid">
    <a
      class="navbar-brand justify-content-center mx-auto pl-2 rounded-circle"
      href="/"
      data-v-2080cbe8=""
      ><img
        class="logo rounded-circle"
        src="https://cdn.discordapp.com/attachments/958952387660378162/974873804805373962/20210801_154524.png"
        alt="logo"
        width="42"
        height="42" /></a
    ><button
      class="navbar-toggler collaspsed"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarSupportedContent"
      >
      <ul class="navbar-nav align-items-center">
        <li class="nav-item">
            <a class="nav-link" href="/commands">Commands</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/docs">Documention</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/plus">Plus</a>
        </li>
      </ul>
    </div>
  </div>
</nav>