<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>404 - Page Not Found</title>
        <meta
          name="keywords"
          content="discord bots, discord bot maker, discord bot commands, discord bot builder, discord bot js, Rato, discord bot list, discord.js, discord bot, MEE6"
        />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link
            rel="shortcut icon"
            type="image/x-icon"
            href="https://cdn.discordapp.com/avatars/825276449454817280/59204205e89b6137e5fc9cbd40ee1dd4.webp"
        />
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
            crossorigin="anonymous"
        />
        <link rel="stylesheet" href="css/main.css" />
        <link rel="stylesheet" href="css/tailwind.css" />
        <link rel="stylesheet" href="css/utils.css" />
        <link rel="stylesheet" href="css/animations.css" />
        <script
            src="https://kit.fontawesome.com/36fb5d2ceb.js"
            crossorigin="anonymous"
        ></script>
        <script async src="https://arc.io/widget.min.js#XgWseQde"></script>

        <link rel="shortcut icon" href="https://cdn.discordapp.com/attachments/958952387660378162/967618640847454208/discord-avatar-512-YKMOM.png">
    </head> 
    <body class="bg-[#1b1e29] text-white">
        <header class="container">
            <div class="jumbotron text-center">
              <img
                src="https://cdn-icons-png.flaticon.com/512/5058/5058097.png
                "
                alt="Rato Discord Bot"
                class="robot mx-auto"
              />
              <h1 class="text-lg">
                <span class="font-bold">404 - Page Not Found</span>
              </h1>
              <p>This Page Wasn't Found, Please check whether you've typed the address wrong or the URL you're trying to go to has been moved..</p>
              <p class="lead mx-auto inline">
                <a
                  class="btn btn-primary border-none bg-indigo-400 mt-2 rounded hover hover:shadow-lg hover:bg-indigo-500 transition ease-in-out"
                  href="/"
                  >Return Home</a
                >
              </p>
            </div>
          </header>
    </body>
</html>